<div class="contenedor_login_padre">
    <div class="contenedor_login_hijo">
        <div class="contenedor_header3 contenedor_horizontal">
            <img class="img_logo2" src="../../../assets/ui_images/logo3.png" alt="">
            <div class="botones contenedor_horizontal">
                <img id="add" class="img_icon" src="../../../assets/ui_images/add_icon.svg"/>
                <img id="update" class="img_icon" src="../../../assets/ui_images/update2_icon.svg"/>
                <img id="delete" class="img_icon" src="../../../assets/ui_images/delete_icon.svg"/>
                <h2 class="sep">|</h2>
                <a href="../inicio/inicio.html">
                    <img id="logout" class="img_icon" src="../../../assets/ui_images/home_icon.svg"/>
                </a>
            </div>
        </div>
        <div class="contenedor_campos">
            <div class="labels contenedor_horizontal">
                <div class="label_lista">
                    <h2 class="label_cuadro">Riders</h2>
                </div>
                <div class="label_datos">
                    <h2 class="label_cuadro">Datos del Rider</h2>
                </div>
            </div>
            <div class="contenido contenedor_horizontal">
                <div class="contenedor_lista">
                    <ul class="listaElementos">
                        <li class="elementoBase">Elemento 1</li>
                        <li class="elementoBase">Elemento 2</li>
                        <li class="elementoBase">Elemento 3</li>
                    </ul>
                </div>
                <div class="contenedor_datos">
                    <div id="datos" class="contenedor_datos_rest">
                        <div class="linea_campo contenedor_horizontal">
                            <div class="campo_dato4">
                                <label class="texto_gris" for="nombre">Nombre</label>
                                <input class="campo_entrada" type="text" id="nombreRy" required>
                            </div>
                            <div class="campo_dato5">
                                <label class="texto_gris" for="apellidos">Apellidos</label>
                                <input class="campo_entrada" type="text" id="apellidosRy" required>
                            </div>
                        </div>
                        <div class="linea_campo contenedor_horizontal">
                            <div class="campo_dato4">
                                <label class="texto_gris" for="nif">NIF</label>
                                <input class="campo_entrada" type="text" id="nifRy">
                            </div>
                            <!-- FALLA 53-56 -->
                            <div class="campo_dato5">
                                <label class="texto_gris" for="valoracion">Valoración</label>
                                <input class="campo_entrada" type="number" id="valoracionRy" >
                            </div>
                        </div>
                        
                        <div class="linea_campo contenedor_horizontal">
                            <div class="campo_dato4">
                                <label class="texto_gris" for="email">Correo</label>
                                <input class="campo_entrada" type="email" id="emailRy" pattern=".+@globex\.com" size="30" required>
                            </div>
                            <div class="campo_dato5">
                                <label class="texto_gris" for="password">Contraseña</label>
                                <input class="campo_entrada" type="password" id="passwordRy" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" size="30" required>
                            </div>
                        </div>
                        <div class="linea_campo campo_dato3">
                            <label class="texto_gris" for="matricula">Tipo de Vehículo</label>
                                
                            <div class="campo_radio campo_entrada">
                                <label><input type="radio" name="tipoVehiculo" id="cocheRy" value="coche"> Coche</label>
                                <label><input type="radio" name="tipoVehiculo" id="motoRy" value="moto"> Moto</label>
                                <label><input type="radio" name="tipoVehiculo" id="biciRy" value="bici"> Bicicleta</label>
                                <label><input type="radio" name="tipoVehiculo" id="patineteRy" value="patinete"> Patinete</label>
                            </div>
                        </div>
                        <div class="linea_campo contenedor_horizontal">
                            <div class="campo_dato4">
                                <label class="texto_gris" for="matricula">Matrícula</label>
                                <input class="campo_entrada" type="text" id="matriculaRy" required>
                            </div>
                            <div class="campo_dato5">
                                <label class="texto_gris" for="carnet">Carnet</label>
                                <input class="campo_entrada" type="text" id="carnetRy" required>
                                <label class="aviso" >{{ avisoRegistroRyders }}</label>
                                <button (click)="crearRyder()" id="crearRyder" class="btn_acceder ancho_partido">Registrar Ryder</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>