<div class="contenedor_padre">

    <div class="contenedor_login_hijo">
        <div class="contenedor_header3 contenedor_horizontal">
            <img class="img_logo2" src="../../../assets/ui_images/logo3.png" alt="">
            <div class="botones contenedor_horizontal">
                <img id="add" class="img_icon" src="../../../assets/ui_images/add_icon.svg" />
                <img id="update" class="img_icon" src="../../../assets/ui_images/update2_icon.svg" />
                <img id="delete" class="img_icon" src="../../../assets/ui_images/delete_icon.svg" />
                <h2 class="sep">|</h2>
                <a href="../inicio/inicio.html">
                    <img id="logout" class="img_icon" src="../../../assets/ui_images/home_icon.svg" />
                </a>
            </div>
        </div>
        <div class="contenedor_campos">
            <div class="labels contenedor_horizontal">
                <div class="label_lista">
                    <h2 class="label_cuadro">Administradores</h2>
                </div>
                <div class="label_datos">
                    <h2 class="label_cuadro">Datos del Administrador</h2>
                </div>
            </div>
            <div class="contenido contenedor_horizontal">
                <div class="contenedor_lista">
                    <ul class="listaElementos">
                        <li class="elementoBase">Elemento 1</li>
                        <li class="elementoBase">Elemento 2</li>
                        <li class="elementoBase">Elemento 3</li>
                    </ul>
                </div>
                <div class="contenedor_datos">
                    <div id="datos" class="contenedor_datos_rest">
                        <div class="linea_campo contenedor_horizontal">
                            <div class="campo_dato4">
                                <label class="texto_gris" for="nombreA">Nombre</label>
                                <input class="campo_entrada" type="text" id="nombreA" required>
                            </div>
                            <div class="campo_dato5">
                                <label class="texto_gris" for="apellidosA">Apellidos</label>
                                <input class="campo_entrada" type="text" id="apellidosA" required>
                            </div>
                        </div>
                        <div class="linea_campo contenedor_horizontal">
                            <div class="campo_dato4">
                                <label class="texto_gris" for="zona">Zona</label>
                                <input class="campo_entrada" type="text" id="zonaA" required>
                            </div>
                            <div class="campo_dato5">
                                <label class="texto_gris" for="nifA">NIF</label>
                                <input class="campo_entrada" type="text" id="nifA">
                            </div>
                        </div>
                        <div class="linea_campo contenedor_horizontal">
                            <div class="campo_dato4">
                                <label class="texto_gris" for="emailA">Correo</label>
                                <input class="campo_entrada" type="email" id="emailA" pattern=".+@globex\.com" size="30"
                                    required>
                            </div>
                            <div class="campo_dato5">
                                <label class="texto_gris" for="passwordA">Contraseña</label>
                                <input class="campo_entrada" type="password" id="passwordA"
                                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" size="30" required>
                                <label class="aviso">{{ avisoRegistroAdmin }}</label>
                                <button (click)="crearAdmin()" id="crearAdmin" class="btn_acceder ancho_partido">Registrar Admin</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>