<div class="Menu_bar contenedor_header contenedor_horizontal">
    <div class="logo">
        <a routerLink="/inicio">
            <img class="img_logo" src="../../assets/ui_images/logo3.png" alt=""/>
        </a>
    </div>
    <div id="menu_header" class="contenedor_opc_menu contenedor_horizontal">
        <a routerLink="/login" class="opcion_menu">Iniciar Sesión</a>
        <a routerLink="/registro" class="opcion_menu2">Registrarse</a>
    </div>
</div>
<section class="portada">
    <div class="contenedor_tex_portada">
        <img class="img_logo_mid" src="../../assets/ui_images/404.png" alt=""/>
        <h1>404 - Página no Encontrada</h1>
        <div id="menu_banner" class="contenedor_opc_menu2 contenedor_horizontal">
            <a routerLink="/login" class="opcion_menu">Iniciar Sesión</a>
            <a routerLink="/registro" class="opcion_menu2">Registrarse</a>
        </div>
    </div>
</section>