.contenedor_login_padre{
    min-height: 100vh;
    background: url(../../../assets/bg_images/food_bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_grupo{
    /*background: white;*/
    width: 100%;
    margin: 20px;
}

.contenedor_gestion{
    background: white;
    height: 550px;
}

.contenedor_modulos{
    /*background: orange;*/
    height: 70px;
    justify-content: space-around;
}

.btn_module{
    margin-top: 24px;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    height: 50px;
    width: 150px;
    margin-bottom: 16px;
    border: 3px solid #424242;
    border-radius: 10px;
}

.bg_red{
    background: rgba(255, 29, 25, 0.85);
}

.bg_red:hover{
    background: rgba(255, 29, 25, 1);
}

.bg_orange{
    background: rgba(255, 112, 25, 0.85);
}

.bg_orange:hover{
    background: rgba(255, 112, 25, 1);
}

.bg_yellow{
    background: rgba(255, 196, 25, 0.85);
}

.bg_yellow:hover{
    background: rgba(255, 196, 25, 1);
}

.bg_green{
    background: rgba(25, 255, 39, 0.85);
}

.bg_green:hover{
    background: rgba(25, 255, 39, 1);
}

.bg_blue{
    background: rgba(25, 196, 255, 0.85);
}

.bg_blue:hover{
    background: rgba(25, 196, 255, 1);
}