*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
}

.contenedor_horizontal {
    display: flex;
    align-items: center;
    width: 100%;
}

.contenedor_horizontal2 {
    display: flex;
    align-items:flex-end;
    width: 100%;
}

.texto_gris {
    color: #424242;
}

.oculto{
    display: none;
}

.contenedor_header {
    position: fixed;
    width: 100%;
    height: 90px;
    padding: 16px;
    background: #424242;
    justify-content: space-between;
    z-index: 999;
}

.contenedor_header2 {
    height: 90px;
    padding: 16px;
    background: #424242;
    justify-content: space-between;
    align-items: center;
}

.contenedor_header3 {
    height: 60px;
    padding: 16px;
    background: #424242;
    justify-content: space-between;
    align-items: center;
}

.img_logo{
    height: 65px;
}

.img_logo2{
    height: 45px;
}

.img_logo_mid{
    max-width: 60%;
}

.img_logout{
    height: 40px;
}

.opcion_menu{
    width: 150px;
    height: 40px;
    margin: 16px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    color: #fc8a15;
    line-height: 35px;
    margin-bottom: 16px;
    border: 3px solid #fc8a15;
    border-radius: 5px;
    background: white;
}

.opcion_menu2{
    width: 150px;
    height: 40px;
    margin: 16px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    color: white;
    line-height: 35px;
    margin-bottom: 16px;
    border: 3px solid #fc8a15;
    background: #fc8a15;
    border-radius: 5px;
}

.contenedor_tex_portada{
    background: rgba( 66, 66, 66, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;

    width: 60%;
    margin: 50px 0;
    padding: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border-radius: 25px;*/
}

.contenedor_tex_portada h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin: 15px 0;
}

.contenedor_opc_menu {
    display: flex;
    justify-content: right;
}

.contenedor_opc_menu2 {
    display: none;
    justify-content: center;
}

@media screen and (max-width: 700px){
    #menu_header {
        display: none;
    }

    .contenedor_opc_menu2 {
        display: flex;
    }
}

.contenedor_login_hijo{
    background: white;
    width: 500px;
    margin: 50px auto;
}

label{
    font-weight: bold;
}

.aviso {
    color: #fc8a15;
}

.campo_entrada{
    height: 40px;
    width: 100%;
    margin-bottom: 16px;
    border: 3px solid #757575;
    padding: 4px;
    font-size: 1rem;
}

.campo_entrada:focus{
    border: 3px solid #424242;
    outline: none;
}

.campo_entrada2{
    height: 40px;
    width: 49%;
    margin-bottom: 16px;
    border: 3px solid #757575;
    padding: 4px;
    font-size: 1rem;
}

.btn_acceder{
    margin-top: 8px;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    height: 40px;
    width: 100%;
    margin-bottom: 16px;
    border: 3px solid #fc8a15;
    background: #fc8a15;
    cursor: pointer;
}

.contenedor_lista{
    width: 20%;
    height: 450px;
    border: 3px solid #757575;
    padding: 24px 8px 8px 8px;
    
    overflow-y: scroll;
}

.contenedor_lista::-webkit-scrollbar {
    border-radius: 2px;
	width: 6px;
	background-color: #42424270;
}

.contenedor_lista::-webkit-scrollbar-thumb{
    background-color: #f5f5f5;
}


.contenedor_lista ul li{
    background: #f5f5f5;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 4px;
    padding: 6px;
    font-size: 1rem;
    overflow: hidden;
    line-height: 22px;
}

.contenedor_lista ul li:hover{
    background: #e5e5e5;
}

.contenedor_datos{
    /*background: orange;*/
    width: 80%;
    height: 450px;
    margin-left: 8px;
    border: 3px solid #757575;
    padding: 24px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    overflow: visible;
    
}

.label_cuadro{
    position: relative;
    background: white;
    font-size: 1.2rem;
    color: #424242;
    font-weight: bold;
    padding: 4px;
    width:fit-content;
    margin-left: 10px;
    z-index: 100;
}

.label_cuadro2{
    position: relative;
    background: #f5f5f5;
    font-size: 1.2rem;
    color: #424242;
    font-weight: bold;
    padding: 4px;
    width:fit-content;
    margin-left: 10px;
    z-index: 100;
}

.sep{
    color: #757575;
}

.botones{
    width: fit-content;
}

.botones2{
    /*background: yellow;*/
    margin: -1px auto 0 auto;
    width: fit-content;
}

.linea_campo{
    justify-content: space-between;
}

.campo_dato1{
    width: 70%;
    padding-right: 4px;
}

.campo_dato2{
    width: 30%;
    padding-left: 4px;
}

.campo_dato3{
    width: 100%;
}

.campo_dato4{
    width: 50%;
}

.campo_dato5{
    width: 50%;
    padding-left: 4px;
}

.campo_dato6{
    width: 15%;
    padding-left: 4px;
}

.label_lista{
    width: 20%;
}
.label_datos{
    width: 80%;
}

.label_lista2{
    width: 30%;
}

.label_lista3{
    width: 33%;
}

.label_datos2{
    width: 70%;
}

.labels{
    height: 4px;
}

.labels2{
    height: 4px;
    margin-top: 20px;
}

/*** checkbox ***/
input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    color: #f5f5f5;
    width: 40px;
    height: 40px;
    border: 3px solid #757575;
    margin: 0 auto 16px auto;

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 1.8em;
    height: 1.8em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 7em 7em #757575;

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.form-control--disabled {
    color: #9b9b9b;
    cursor: not-allowed;
}

input[type="checkbox"]:disabled {
    color: 9b9b9b;
    cursor: not-allowed;
}

.img_icon{
    height: 40px;
    margin: 0 8px;
}

.img_icon2{
    height: 20px;
    margin: 0 8px;
}

.contenedor_campos{
    /*background: red;*/
    background: white;
    padding: 16px;
    border: 5px solid #424242;
    height: 500px;
}

.contenedor_campos h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 16px;
    margin-bottom: 32px;
}

.resaltado{
    color: #fc8a15;

}

.contenedor_tex_portada2{
    background: rgba( 66, 66, 66, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;

    width: 95%;
    height: 570px;
    margin: 24px 0;
    padding: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border-radius: 25px;*/
}

.sect{
    align-content: center;


}

/*valoraciones*/
.cabecera_valorar{
    background: #757575;
    justify-content: space-between;
    padding: 4px 16px;
    color: white;
}
.cabecera_valorar h1{
    width: 280px;
    text-align: center;
}

.contenedor_valorar_pedidos h2{
    font-size: 1rem;
    color: #fc8a15;
    font-weight: bold;
}

.contenedor_valorar_pedidos p{
    font-size: 1rem;
    height: 30px;
    margin-bottom: 10px;
}

.contenedor_valorar_pedidos textarea{
    font-size: 0.9rem;
    width: 100%;
    resize: vertical;
    /*height: 50px;*/
    min-height: 50px;
    padding: 4px;
}

.contenedor_valorar{
    padding: 8px 16px;
}

.contenedor_valorar_pedidos{
    /*height: 500px;*/
    width: 350px;
    background: white;
    
    border: 3px solid #757575;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.img_estrella2{
    width: 20px;
    height: 20px;
}

.correo_val{
    color: #757575;
    font-size: 1rem;
}

.cont_correo{
    /*background: red;*/
    width: 50%;
    display: flex;
    align-items: center;
}

.contenedor_pts{
    /*background: yellow;*/
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contenedor_val{
    /*background: green;*/
    width: 100%;
}

.contenedor_vals{
    height: 395px;
    /*overflow-y: scroll;
    
    .contenedor_vals::-webkit-scrollbar {
        border-radius: 2px;
	    width: 6px;
	    background-color: #42424270;
    }

    .contenedor_vals::-webkit-scrollbar-thumb{
        background-color: #f5f5f5;
    }
    */
}



.cont_valoracion{
    position: absolute;
    z-index: 150;
}


/*recibo*/
.platosRecibo::-webkit-scrollbar {
    border-radius: 2px;
	width: 6px;
	background-color: #42424270;
}

.platosRecibo::-webkit-scrollbar-thumb{
    background-color: #f5f5f5;
}

.importeRecibo{
    /*background: green;*/
    padding: 0 16px 8px 16px;
}
hr{
    margin: 4px 0;
}

.fechaRecibo{
    color: #757575;
    font-size: 0.7rem;
    margin-top: 4px;
    margin-right: 16px;
}

.contenedor_recibo h2{
    /*background: red;*/
    text-align: center;
    margin: 8px;
}

#bordeRecibo{
    height: 25px;
    width: 25px;
}

.datosRecibo{
    padding: 0 16px 8px 16px;
}

.elementoBase{
    overflow: hidden;
}